<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- A1 is set to be a ConsoleAppender -->
  <appender name="Stdout" class="org.apache.log4j.ConsoleAppender">
    <!-- A1 uses PatternLayout -->
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/> 
    </layout> 
  </appender> 
  
  <appender name="File" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="logs/stdout.log"/>
    <param name="MaxFileSize" value="2048KB"/>
    <!-- Keep five backup files -->
    <param name="MaxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/> 
    </layout> 
  </appender> 
  
  <!-- File Transfer -->
  <appender name="FileTransfer" class="org.apache.log4j.RollingFileAppender">
     <param name="file" value="logs/filetransfer.log"/>
     <param name="MaxFileSize" value="2048KB"/>
     <!-- Keep five backup files -->
     <param name="MaxBackupIndex" value="5"/>
     <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/>
     </layout>
  </appender>
  
  <appender name="Error" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="logs/errors.log"/>
    <param name="threshold" value="ERROR" />
    <param name="MaxFileSize" value="2048KB"/>
    <!-- Keep one backup file -->
    <param name="MaxBackupIndex" value="1"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %m%n"/> 
    </layout> 
  </appender>
  
  <logger name="FileTransferLogger">
     <!-- Will log to stdout due to root logger settings -->
     <appender-ref ref="FileTransfer" />
  </logger>
  
  <root> 
    <priority value ="INFO" /> 
    <appender-ref ref="Stdout" />
    <appender-ref ref="File" />  
    <appender-ref ref="Error" />
  </root>
</log4j:configuration>